
<!--<script type="text/javascript">
        //checkVal = document.getElementById("my_answer").value;
        //if (ans == checkVal){
          //$("success").css("display",block);
          $(document).ready(function() {

          $('success').hide(); //Initially form wil be hidden.

          $('fail').hide();

          $('check').click(function() {
            $('success').show();//Form shows on button click

              });
          });

           
        }
</script>-->
<h1>Answer Trivia Question</h1>

<div class="row">
  <div class="span6 offset3">
    <% if flash[:check] %>
        <div class="notice"><%= flash[:check] %></div>
    <% end %>
    <%= @trivia.each do |trivium| %>
      
      <%= form_for(:temp, url:'/trivia/check_ans') do |f| %>

        <%= f.label :question, "Question" %>
        <%= trivium.question %>

        <%= f.label :answer, "Answer"%>
        <%= f.text_field :answer%>

        <%= f.hidden_field :actual_answer, :value=>trivium.answer%>

        <%= f.hidden_field :id, :value=>trivium.id%>

        <%= f.submit "Check My Answer", class: "btn btn-large btn-primary"%>
      <% end %>

    <% end %>

  </div>
</div>