<h1 style="margin-top: 50px" class="jumbotron text-center">Create Your own Trivia Question</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@trivium) do |f| %>

      <%= render '/shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :question, "Question" %>
        <%= f.text_field :question, class: "form-control"%>
      </div>

      <%= f.label :answer, "Answer"%>
      <%= f.text_field :answer %>

      <%= f.label :tag_list, "Tag List (Seperated by commas)"%>
      <%= f.text_field :tag_list %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>